<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>WCCB| @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <img src="~/Images/wccb.png" alt="WCCB | Logo" width="220px" style="margin-bottom: 5px" />
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { @area = "" }, null)</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { @area = "" }, null)
                            <ul>
                                <li>@Html.ActionLink("Musical Director", "MusicalDirector", "Home", new { @area = "" }, null)</li>
                                <li>@Html.ActionLink("Players", "Players", "Home", new { @area = "" }, null)</li>
                                <li>@Html.ActionLink("Committee", "Committee", "Home", new { @area = "" }, null)</li>
                                <li>@Html.ActionLink("Constitution", "Constitution", "Home", new { @area = "" }, null)</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Youth", "Contact", "Home", new { @area = "" }, null)
                            @*<ul>
                                <li>@Html.ActionLink("Open Band", "About", "Home", new { @area = "" }, null)</li>
                                <li>@Html.ActionLink("Honour Band", "About", "Home", new { @area = "" }, null)</li>
                                <li>@Html.ActionLink("Academy", "About", "Home", new { @area = "" }, null)</li>
                            </ul>*@
                        </li>
                        <li>@Html.ActionLink("Events", "Contact", "Home", new { @area = "" }, null)</li>
                        <li>@Html.ActionLink("News", "Contact", "Home", new { @area = "" }, null)</li>
                        <li>@Html.ActionLink("Gallery", "Contact", "Home", new { @area = "" }, null)</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { @area = "" }, null)</li>
                        <li>@Html.ActionLink("Members", "Index", "Home", new { @area = "Member" }, null)
                            @if (Request.IsAuthenticated)
                            {
                                if (User.IsInRole("PlayingMembers") || User.IsInRole("NonPlayingMembers") || User.IsInRole("LifeMembers"))
                                {
                                    <ul>
                                        <li>@Html.ActionLink("Notices", "Notices", "Home", new { @area = "Member" }, null)</li>
                                        <li>@Html.ActionLink("Subscription", "Subscription", "Home", new { @area = "Member" }, null)</li>

                                        @if (User.IsInRole("PlayingMembers"))
                                        {
                                            <li>@Html.ActionLink("Calendar", "Calendar", "Player", new { @area = "Member" }, null)</li>
                                            <li>@Html.ActionLink("Technical Notes", "TechnicalNotes", "Player", new { @area = "Member" }, null)</li>
                                            <li>@Html.ActionLink("Player List", "PlayerList", "Player", new { @area = "Member" }, null)</li>
                                            <li>@Html.ActionLink("Resources", "Resources", "Player", new { @area = "Member" }, null)</li>
                                            <li>@Html.ActionLink("Contact", "Contact", "Player", new { @area = "Member" }, null)</li>
                                        }
                                        
                                        @if (User.IsInRole("NonPlayingMembers") || User.IsInRole("LifeMembers"))
                                        {
                                            <li>@Html.ActionLink("Benefits", "Benefits", "NonPlayer", new { @area = "Member" }, null)</li>
                                        }
                                        
                                    </ul>
                                }
                            }
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @RenderSection("slider", required: false)
    <div id="body">
        @if (!string.IsNullOrEmpty(ViewBag.Title))
        {
            <div class="fullwidthbanner-container" style="background-color: lightgray;">
                <div class="content-wrapper">
                    <h2 style="margin: 10px">@ViewBag.Title</h2>
                </div>
            </div>
        }
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
