@model WCCB.Models.Role

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Role</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <br/>
    <div class="display-label">
         @Html.LabelFor(model => model.Users)
    </div>
    <div class="display-field">
        @foreach (var user in Model.Users)
        {
            <span>
                @string.Format("{0} {1}", user.UserProfile.Firstname, user.UserProfile.Lastname)
                <br/>
            </span>
        }
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RoleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
