@model WCCB.WebApplication.Models.UserCheckPasswordModel

@{
    ViewBag.Title = "Check Password";

}

<h2>@ViewBag.Title</h2>

@if(!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
}

@using(Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    
    @Html.LabelFor(x => x.Password)
    @Html.EditorFor(x => x.Password)

    <input type="submit"/>
}
<p>
    @Html.ActionLink("Back", "Index")
</p>